@model HomeModel
@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Cadastro de Funcionário realizado!</h1>
    <p> Nome: @Model.nome </p>
    <p>e-mail: @Model.email</p>
    <p>telefone: @Model.telefone </p>
    <p>salário: @Model.salario</p>
    <p>data de admissão: @Model.dataAdmissao</p>
    <p> :) </p>
</div>


